site_name: VersiRef
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: false
            show_root_heading: true
            show_symbol_type_heading: true
            members_order: source
            filters:
              - "!^_"  # Exclude all private/dunder methods

nav:
  - Home: index.md
  - API Reference: reference.md
